/* 
    Document   : project
    Created on : Feb 6, 2012, 1:11:29 AM
    Author     : dmeganoski
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
span.Count {
    margin: 0px;
    float: right;
}

h2 {
    line-height: 20px;
    margin: 10px;
}
/* --- Project Description ---- */
img.Project {
    width: 250px;
}
img.ProjectList {
    width: 100px;
    float: left;
}
div.Controls {
    float: right;
    width: 100px;
}
div.Links {
    float: right;
    width: 100px;
}
/* ---- General ----- */
div.InfoBox {
    background: #FFF;
    display: inline-block;
    vertical-align: top;
    max-width: 250px;
    min-width: 200px;
    padding: 15px;
    margin: 10px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.8);
}
div.InfoBox li {
    padding: 0px 10px;
    border-bottom: 1px solid #CCC;
}
div#TaskContent {
    background: #FFF;
}


#content .body {
    background: #e6e6e6;
}